#rtup-id parcellite
#exec --no-startup-id i3-msg 'workspace 1:Web; exec palemoon'
#exec --no-startup-id i3-msg 'workspace 2:Shell; exec urxvt -name SHELL -e ./bin/tmuxgo'

# set mod4 as modkey
set $mod Mod4

# set global window borders
new_window pixel 0

# Toggle window borders
bindsym $mod+Shift+t border toggle

# enable floating for some windows
#assign [class="Pale moon"] 1:Web
assign [class="Waterfox"] 1:Web
assign [instance="SHELL"] 2:Shell
assign [instance="soulseekqt"] 3:Soulseek
assign [instance="cantata"] 4:Tunes
assign [class="Kodi"] 5:Kodi
#assign [instance="Kodi"] 5:Kodi
for_window [class="Arandr"] floating enable
for_window [class="Player"] floating enable
for_window [class="Wxcam"] floating enable
for_window [class="Convertall.py"] floating enable
for_window [class="Eog"] floating enable
for_window [class="feh"] border normal
for_window [class="feh"] floating enable
for_window [class="Gcr-prompter"] floating enable
for_window [class="MPlayer"] floating enable
for_window [class="mpv"] floating enable
for_window [class="Msgcompose"] floating enable
for_window [class="XTerm"] floating enable
for_window [instance="Browser"] floating enable
for_window [instance="centerim"] floating enable
for_window [instance="downloads"] border normal
for_window [instance="downloads"] floating enable
for_window [instance="edit"] floating enable
for_window [instance="htop"] floating enable
for_window [instance="mixer"] floating enable
for_window [instance="Msgcompose"] floating enable
for_window [instance="Music"] floating enable
for_window [instance="mutt"] floating enable
for_window [instance="Print"] floating enable
for_window [instance="ranger"] floating enable
for_window [instance="float"] floating enable
for_window [instance="ranger-root"] border normal
for_window [instance="ranger-root"] floating enable
for_window [instance="torrents"] floating enable

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below. ISO 10646 = Unicode
font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
# The font above is very space-efficient, that is, it looks good, sharp and
# clear in small sizes. However, if you need a lot of unicode glyphs or
# right-to-left text rendering, you should instead use pango for rendering and
# chose a FreeType font, such as:
# font pango:DejaVu Sans Mono 10

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
#bindsym $mod+Return exec urxvt -name SHELL -e zsh -c "tmux -q has-session && exec tmux attach-session -d || exec tmux new-session -n$USER -s$USER@$HOSTNAME"
bindsym $mod+Shift+Return exec urxvt -name SHELL -e tmux new-session -s GUI
bindsym $mod+Return exec urxvt

# kill focused window
bindsym $mod+Shift+c kill

# start dmenu (a program launcher)
bindsym $mod+Shift+d exec --no-startup-id j4-dmenu-desktop --dmenu="dmenu -i -l 20"
bindsym $mod+d exec --no-startup-id supermenu

# start mpdmenu
bindsym $mod+m exec --no-startup-id /home/andrew/scripts/mpdmenu
bindsym $mod+Shift+m exec --no-startup-id /home/andrew/scripts/mpdmenu -p
bindsym $mod+Mod1+m exec --no-startup-id /home/andrew/scripts/mpdmenu -a
bindsym $mod+g exec --no-startup-id /home/andrew/scripts/mpdmenu -g
bindsym $mod+c exec --no-startup-id /home/andrew/scripts/mpdmenu -t

# mpd controls
bindsym $mod+o exec --no-startup-id /home/andrew/scripts/mpdtoggleoutput.sh
bindsym $mod+p exec --no-startup-id mpc toggle
bindsym $mod+b exec --no-startup-id mpc prev
bindsym $mod+n exec --no-startup-id mpc next
bindsym $mod+s exec --no-startup-id mpc stop
bindsym Shift+XF86AudioStop exec --no-startup-id mpc clear

# volume controls
#bindsym XF86AudioRaiseVolume exec --no-startup-id mpc volume +2
#bindsym XF86AudioLowerVolume exec --no-startup-id mpc volume -2
bindsym XF86AudioRaiseVolume exec --no-startup-id amixer set PCM 5%+
bindsym XF86AudioLowerVolume exec --no-startup-id amixer set PCM 5%-
bindsym XF86AudioMute exec --no-startup-id amixer set PCM toggle
bindsym Shift+XF86AudioMute exec --no-startup-id urxvt -name mixer -e alsamixer -c 0
bindsym XF86MonBrightnessDown exec --no-startup-id light -U 10%
bindsym XF86MonBrightnessUp exec --no-startup-id light -A 10%

# start some programs
bindsym $mod+Pause exec --no-startup-id urxvt -name htop -e htop
bindsym $mod+f exec --no-startup-id urxvt -name ranger -e ranger
bindsym $mod+Shift+s exec --no-startup-id soulseekqt
bindsym $mod+e exec --no-startup-id urxvt -name mutt -e mutt
bindsym $mod+Shift+e exec --no-startup-id urxvt -name mutt -e mutt -R -F ~/.muttrorc
bindsym $mod+Home exec --no-startup-id urxvt -name Music -e ncmpcpp
bindsym $mod+Tab exec --no-startup-id /home/andrew/scripts/winmenu.py
bindsym $mod+w exec waterfox
bindsym $mod+Shift+w exec firefox-esr

# pop up control
#popup_during_fullscreen ignore

# Make the currently focused window a scratchpad
bindsym $mod+Shift+F12 move scratchpad

# Show the first scratchpad window
bindsym $mod+F12 scratchpad show

# Focus follows mouse off
focus_follows_mouse no

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
#bindsym $mod+p focus parent
bindsym $mod+Shift+p focus child

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+minus split h

# split in vertical orientation
bindsym $mod+equal split v

# enter fullscreen mode for the focused container
bindsym $mod+Shift+f fullscreen

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+F3 layout stacking
bindsym $mod+F4 layout tabbed
bindsym $mod+F5 layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# Workspace Names
workspace "1:Web" output LDVS1
workspace "2:Shell" output LDVS1
workspace "3:Soulseek" output LDVS1
workspace "4:Tunes" output LDVS1
workspace "5:Kodi" output LDVS1

# back and forth between workspaces
workspace_auto_back_and_forth yes

# switch to workspace
bindsym $mod+1 workspace 1:Web
bindsym $mod+2 workspace 2:Shell
bindsym $mod+3 workspace 3:Soulseek
bindsym $mod+4 workspace 4:Tunes
bindsym $mod+5 workspace 5:Kodi
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1:Web
bindsym $mod+Shift+2 move container to workspace 2:Shell
bindsym $mod+Shift+3 move container to workspace 3:Soulseek
bindsym $mod+Shift+4 move container to workspace 4:Tunes
bindsym $mod+Shift+5 move container to workspace 5:Kodi
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+r reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+q restart

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window
